.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
R/
GWM.R
wm_ridgeline_plot.Rmd
wm_ridgeline_plot_knit.Rmd
data/
