.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
R/
GWM.R
wm_ridgeline_plot.Rmd
wm_ridgeline_plot_knit.Rmd
data/
.Rprofile
gwm.flow.R
.Rprofile
gwm.flow.code-workspace
.gitignore
.Rprofile
*.pdf
r-markdown/codeNotes_Daily_2021.md
r-markdown/gwm.Rmd
r-markdown/regenie_on_hrc.md
r-markdown/repository-open-graph-template.png
.env
wm.csv
_targets/meta/.gitignore
_targets/meta/meta
_targets/objects/data
_targets/objects/fit
_targets/objects/hist
_targets/objects/raw_data
_targets_r/globals/example-globals.R
_targets_r/targets/downstream-targets.R
_targets_r/targets/fit.R
_targets_r/targets/raw-data.R
rppr_trampush_nimh_grant_R03MH123787.fdb_latexmk
rppr_trampush_nimh_grant_R03MH123787.synctex.gz
rppr_trampush_nimh_grant_R03MH123787.log
rppr_trampush_nimh_grant_R03MH123787.aux
dns_chr20_topmed.20.bed
dns_chr20_topmed.20.bim
dns_chr20_topmed.20.fam
dns_chr22_topmed.22.bed
dns_chr22_topmed.22.bim
dns_chr22_topmed.22.fam
dns.chr2
dns.chr20.binary.dosage.afreq
dns.chr20.binary.dosage.pgen
dns.chr20.binary.dosage.psam
dns.chr20.binary.dosage.pvar
dns_compare_chr20_hrc-to-topmed.xlsx
dns_topmed_binary_variants.txt
n.sites.hrc.adni.xlsx
pheno_working_memory
updated_metal_scripts
chr11.info.gz
chr12.info.gz
chr13.info.gz
chr20.dose.vcf.gz
chr20.info
chr20.info.gz
chr22.dose.vcf.gz
chr22.info
chr22.info.gz
chunks-excluded.txt
cogent
cogent_charge_collaboration
cogent_sanger_preimp_postimp_sanger_script.sh
jwt_rppr_nimh_grant_R03MH123787_b2-accomplishments_copy.log
jwt_rppr_nimh_grant_R03MH123787_b2-accomplishments_copy.md
jwt_rppr_nimh_grant_R03MH123787_b2-accomplishments_copy.tex
jwt_rppr_nimh_grant_R03MH123787_b2-accomplishments_copy_files
jwt_rppr_nimh_grant_R03MH123787_b2-accomplishments_files
